@import url(http://fonts.googleapis.com/css?family=Merriweather&subset=latin-ext);

@font-face
{
	font-family: "Comic Sans MS";
	src: url(/fonts/comicbd/comic.ttf);
}

@font-face
{
	font-family: "Comic Sans MS";
	font-weight: bold;
	src: url(/fonts/comicbd/comicbd.ttf);
}

h1, h2
{
    text-align: center;
}

.chapter-content
{
    font-family: 'Merriweather', serif;
    text-align: justify;
}

.firstParagraph:first-letter
{
    float: left;
    font-size: 10em;
}

abbr, .abbr {
	border-bottom: 1px dotted gray;
}

.code {
	font-family: Courier;
}
